{
    margin: 0;
}
    header{
        background-color: orange;
        color: blueviolet;
    }
main{
    background-color: aquamarine;
}
footer{
    background-color: aqua;
}
#logotipo{
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 20px;
}

#menu{
    text-align: center;
}

#menu a{
    text-decoration: none;
}
#menu li{
    display: inline;
}